.collection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: var(--mainFont);
}

.collectionbody{
    grid-column: span 3;
    
}

.collectionhead{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
}


.collectionSlider {
    /* grid-column: span 1; */
   
    /* align-items: center; */
    /* margin-top: 22px;
    margin-bottom: 22px; */
    
}

.font{
    font-family: var(--mainFont);
    font-size: var(--text18);
    font-weight: 600;

}

.time{
    font-size: 14px;
    font-family: var(--mainFont);

}

.collectioncart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: var(--mainFont);
    grid-gap: 22px;

}

.savedCollectin{
    /* background: black; */
    border-radius: var(--smallRadius);
}

.collectionSlider1{
    font-family: var(--mainFont);
    grid-gap: 10px;
    padding: 12px;
    height: 350px;
    background: var(--garyWhite);
    border-radius: var(--smallRadius);
    position: relative;
}

.add1{
    color: black;
    background-color: black;
}

.cl1{
    font-family: var(--mainFont);

}


@media screen and (max-width: 1100px){
    .navv {
        position: absolute;
        display: none;
    }

    .collection {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px){
    .navv {
        position: absolute;
        display: none;
    }

    .collectioncart {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 900px){
    .navv {
        position: absolute;
        display: none;
    }

    .collectioncart {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    .navv {
        position: absolute;
        display: none;
    }

    .collectioncart {
        grid-template-columns: repeat(1, 1fr);
    }
}


.blogCardTextCollection {
    padding: 40px 30px;
    font-family: var(--mainFont);
    color: var(--darkText);
}

.blogCardTextCollection h2 {
    letter-spacing: 1.5%;
    font-size: var(--heading22);
}

.blogCardTextCollection p {
    opacity: 50%;
    margin-top: 20px;
    font-size: var(--bodyFont);
}

.blogCardTextCollection h4 {
    font-size: var(--heading20);
    font-weight: 500;
    margin-top: 20px;
}

.savedCollectin img{
    border-radius: 8px;
}

.allCollection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}

.allCollection::after {
    width: 100%;
    height: 100%;
    border-radius: var(--smallRadius);
    position: absolute;
    content: "";
    background: rgba(28, 28, 28, .5);
}

.allTxt {
    color: var(--white);
    font-size: var(--heading32);
    z-index: 99;
    text-decoration: underline;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}



.allCollection div:nth-child(1) {
    background: url(../img/collection1.jpeg) no-repeat center ;
}

.allCollection div:nth-child(2) {
    background: url(../img/coolection2.jpeg) no-repeat center ;
}

.allCollection div:nth-child(3) {
    background: url(../img/collection3.jpeg) no-repeat center ;
}

.allCollection div:nth-child(4) {
    background: url(../img/collection4.jpeg) no-repeat center ;
}

.allCollection div {
    background-size: cover !important;
    background-position: center;
}


.collotionTextBox {
    position: absolute;
    bottom: 0;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--darkText);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dots3 {
    transform: rotate(90deg);
    cursor: pointer;
    scale: .8;
}

.collectionImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: var(--smallRadius);
    height: 290px;
    background-size: cover !important;
}

.addCollection {
    position: absolute;
    bottom: 10px;
    right: 22px;
    font-family: var(--mainFont);
    color: var(--darkText);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 8px 22px;
    z-index: 99;
}

.collectionImgTravel {
    background: url(../img/healthImg.jpg);
}




