@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fashionColor: #E19CD0;
    --healthColor: #43EE7C;
    --foodColor: #F09390;
    --economyColor: #ED3E67;
    --techColor: #3BC2F2;
    --scienceColor: #C84AE0;
    --travelColor: #9CF0CF;
    --educationColor: #F1CC59;


    --smallRadius:8px;
    --bigRadius:32px;

    --mainFont:"Raleway", sans-serif;
    --bodyFont:"Poppins", sans-serif;

    --heading50:50px;
    --heading36:36px;
    --heading28:28px;
    --heading22:22px;
    --heading18px:18px;
    
    --darkMain: #19161F;
    --darkGray: rgba(255, 255, 255, 0.05);

}

.container {
    width: calc(100% - 2rem);
    max-width: 1400px;
    margin-inline: auto;
}

/* blogGrid */

.blogGrid {

}

.blogColumns {

}

.blogCard {
    width: calc(100% - 4rem) / 3;
}

















/* minu - singleBlog */

.singleBlog .blogTopic{
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: var(--mainFont);
    font-size: var(--heading36);
    color: #282828;
    font-weight: 900;
}

.singleBlog .optionBtn{
    display: flex;
    justify-content: end;
}

.singleBlog button{
    font-size: 22px;
    font-weight: 500px;
    font-family: var(--mainFont);
    padding: 18px 24px;
    padding-left: 50px;
    border: 0.4px solid #282828;
    border-radius: var(--smallRadius);
    background: transparent;

}

.singleBlog  .pdfBtn{
    background: url(../Resources/pdfIcon.svg) no-repeat 8px center;
    background-size: 32px;
}

.singleBlog .pdfBtn{
    margin-left: 15px;
}

.singleBlog .favBtn{
    display: flex;
    align-items: center;
    padding-left: 24px;
    justify-content: space-between;
}

.favBtn span{
    margin-left: 15px;
}


.singleBlog .blogImgBox{
    margin-top: 70px;
    display: flex;
   justify-content: center;
}

.singleBlog > .blogImgBox > img{
    border-radius: 32px;
}

.blogContent{
    margin-top: 80px;
}

.blogContent p{
    line-height: 1.5;
    text-align: justify;
}

.singleBlog > .imgSection{
    margin-top: 60px;
    width: fit-content;
    margin-inline: auto;
}

.imgSection img{
    border-radius: 32px;
}

.singleBlog > .imgSection > img:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
}

.singleBlog .otherContent p{
    line-height: 1.5;
    text-align: justify;
}

.singleBlog .otherContent{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.otherContent div{
    width: 45%;
}

.singleBlog .blogEndRow{
    display: flex;
    justify-content: space-between;
}

.singleBlog .blogEndRow{
    margin-top: 110px;
}

.singleBlog .feedbackSection > h3{
    margin-top: 60px;
    text-align: center;

}

.singleBlog .boxLineDiv{
    width: 350px;
    border-bottom: 0.4px solid #282828;
    margin-inline: auto;
}

.singleBlog .feedbackImg{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-inline: auto;
}

.singleBlog .feedbackImg div{
    margin-inline: 8px;
}


