@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fashionColor: #E19CD0;
    --healthColor: #43EE7C;
    --foodColor: #F09390;
    --economyColor: #ED3E67;
    --techColor: #3BC2F2;
    --scienceColor: #C84AE0;
    --travelColor: #9CF0CF;
    --educationColor: #F1CC59;

    --blogAddsColor: rgba(40, 40, 40, .2);

    --themeColor: #caf5e4;

    --smallRadius:8px;
    --bigRadius:32px;

    --mainFont:"Raleway", sans-serif;
    --bodyFont:"Poppins", sans-serif;

    --heading50:50px;
    --heading28:28px;
    --heading22:22px;
    --text18:18px;
    --heading32: 32px;
    --heading36: 36px;
    
    --darkMain: #19161F;
    --darkGray: rgba(255, 255, 255, 0.05);
    --darkText: #282828;

    --garyWhite: #D9D9D9;
    --red: #FE231F;

    --setBlogColumn: calc(100% - 3rem );

}

.container {
    width: calc(100% - 2rem);
    max-width: 1200px;
    margin-inline: auto;
}

body {
    overflow-x: hidden;
}

.subHeading {
    color: var(--darkText);
    font-size: var(--heading28);
    font-family: var(--mainFont);
    margin-top: 20px;
    margin-bottom: 50px;
}

/* blogGrid */

.blogGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.blogColumns {
    width: calc( var(--setBlogColumn) / 3);
    margin-inline: 8px;
}

/* cards */

.fashionCard {
    background: var(--fashionColor);
}

.healthCard {
    background: var(--healthColor);
}

.educationCard {
    background: var(--educationColor);
}

.scienceCard {
    background: var(--scienceColor);
}

.foodCard {
    background: var(--foodColor);
}

.travelCard {
    background: var(--travelColor);
}

.economyCard {
    background: var(--economyColor);
}

.blogAdds {
    background: var(--blogAddsColor);
    padding-top: 150px;
    padding-bottom: 80px;
    text-align: center;
    color: var(--darkText);
}

.blogAdds h5 {
    font-family: var(--mainFont);
    font-size: var(--heading36);
}

.blogAdds p {
    font-family: var(--bodyFont);
    font-size: var(--text18);
    margin-top: 10px;
}



.blogCard {
    border-radius: var(--smallRadius);
    margin-bottom: 16px;
}

.blogCardText {
    padding: 40px 30px;
    font-family: var(--mainFont);
    color: var(--darkText);
}

.blogCardText h2 {
    letter-spacing: 1.5%;
    font-size: var(--heading36);
}

.blogCardText p {
    opacity: 50%;
    margin-top: 20px;
    font-size: var(--bodyFont);
}

.blogCardText h4 {
    font-size: var(--heading22);
    font-weight: 500;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .blogColumns {
        width: calc( (calc(100% - 2rem)) / 2);
    }
}

@media screen and (max-width: 680px) {
    .blogColumns {
        width: 100%;
    }
}


/* home big text animation */

.bigAnimationTextBox {
    overflow: hidden;
}

.bigAnimationText {
    font-family: var(--mainFont);
    font-size: 150px;
    color: var(--darkText);
    /* width: 150vw; */
    text-align: center;
}



.categorySilderBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    margin-top: 100px; 
}

.categoryCard {
    height: 350px;
    font-family: var(--mainFont);
    position: relative;
    background: var(--garyWhite);
    border-bottom: 0;
}

.categorySilderBox > .categoryCard:nth-child(2) {
    scale: 1.2;
    z-index: 9;
    box-shadow: 5px 10px 15px rgba(40, 40, 40, .2);
    background: var(--healthColor);
}

.categoryText {
    font-size: var(--heading32);
    color: var(--darkText);
    position: absolute;
    bottom: 20%;
    padding-inline: 10%;
    line-height: 1.5;
}

.categoryLine {
    width: 100%;
    height: 6px;
    background: var(--healthColor);
    position: absolute;
    bottom: 0;
}

/* learnContentBox */

.learnContentBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.learnContentBox > div:nth-child(1)  {
    padding-top: 50px;
    grid-column: span 2;
}

.learnContentBox > div:nth-child(1) h2,
.learnContentBox > div:nth-child(1) h3 {
    font-family: var(--mainFont);
    color: var(--darkText);
}

.learnContentBox > div:nth-child(1) h2 {
    font-size: 120px;
}

.learnContentBox > div:nth-child(1) h3 {
    font-size: 60px;
}

.socialMediaBox {
    display: flex;
    margin-top: 40px;
}

.socialMediaBox > div {
    margin-right: 20px;
}

.learnContentBox > div:nth-child(2)  {
    grid-column: span 3;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 100px;
}

.infoCard {
    color: var(--darkText);
    position: relative;
    background: #F8DED9;
    padding: 32px;
    padding-bottom: 80px;
    width: 33%;
    border-radius: var(--smallRadius);
    border-top-right-radius: 130px;
    padding-top: 80px;
}

.infoImg {
    position: absolute;
    top: -60px;
}

.infoImg img {
    border-radius: 120px;
}

.infoCard h3 {
    font-family: var(--mainFont);
    font-size: var(--heading28);
}

.infoCard span {
    font-family: var(--bodyFont);
    font-size: 14px;
    font-weight: 100;
    display: block;
    margin-top: 70px;
}

.infoCard p {
    font-family: var(--bodyFont);
    font-size: var(--text18);
}

.infoCard2 {
    background: #CDC8E6;
    scale: .8;
}

.infoCard3 {
    scale: .7;
}

footer section {
    opacity: .5;
    margin-top: 80px;
    border-top: .1px solid var(--darkText);
}

footer p {
    font-family: var(--mainFont);
    font-size: 14px;
    color: var(--darkText);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}


/* blogSearchBox */

.blogSearchBox {
    position: relative;
    width: 100%;
    height: fit-content;
    
}

.blogSearch {
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    padding: 24px 20px 24px 8% ;
    font-family: var(--mainFont);
    font-size: var(--text18);
    border-radius: 8px;
    background:  url(../icon/search.svg) no-repeat 2% center , rgba(40, 40, 40, 0.05);
    background-size: 22px;

}

.blogDisplayChange {
    font-family: var(--mainFont);
    font-size: 16px;
    color: var(--darkText);
    letter-spacing: 1.5;

    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.blogDisplayChange > div {
    display: flex;
    align-items: center;
}

.blogDisplayChange > div > div {
    margin-inline: 15px;
    border-radius: var(--smallRadius);
}

.blogGrid ,
.blogList {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 300ms;
}

.blogList:hover {
    background: #caf5e4;
}

.blogResult {
    font-size: 14px;
    font-family: var(--mainFont);
    margin-top: 30px;
    letter-spacing: 1.5;
}

.blogResult span {
    font-weight: 600;
}

.searchFilterBox {
    display: flex;
    margin-top: 20px;
}

.searchFilter {
    margin-right: 20px;
    font-family: var(--mainFont);
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 16px;
    border: .4px solid #2828280d;
    background: rgba(40, 40, 40, 20%);
    border-radius: var(--smallRadius);
}

.searchFilter span {
    margin-left: 15px;
    font-size: var(--text18);
    font-weight: 600;
}

.filterCount {
    font-family: var(--mainFont);
    font-weight: 600;
    font-size: 16px;
    padding: 8px;
    background: var(--darkText);
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: var(--smallRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.closeFilter {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 32px;
    transition: all ease-in-out 300ms;
}

.closeFilter:hover {
    background: var(--themeColor);
}

.searchResult {
    margin-top: 80px;
}

.searchResult .blogColumns {
    align-self: flex-start;
}

@media screen and (max-width: 750px) {
    .searchFilterBox {
        flex-wrap: wrap;
    }

    .searchFilter {
        margin-top: 12px;
    }

    .searchFilter span  {
        font-size: 14px;
    }

    .filterCount {
        font-size: 12px;
    }

    .closeFilter {
        width: 26px;
        height: 26px;
    }

    .blogSearch{
        padding-left: 14%;
    }
}